<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minecraft_Memory_Bypass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Minecraft_Memory_Bypass.Properties.Settings>
            <setting name="Program_Name" serializeAs="String">
                <value>Minecraft.Windows.exe</value>
            </setting>
            <setting name="Offset_Address" serializeAs="String">
                <value>0x115CDD6</value>
            </setting>
            <setting name="Write_Content" serializeAs="String">
                <value>0xEB</value>
            </setting>
            <setting name="Quit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllVersions" serializeAs="String">
                <value />
            </setting>
            <setting name="AllVersionsID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectID" serializeAs="String">
                <value>0</value>
            </setting>
        </Minecraft_Memory_Bypass.Properties.Settings>
    </userSettings>
</configuration>